.container-opdracht-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-opdracht-2 {
    display: flex;
    flex-direction: row;
}

.container-opdracht-2 li {
    flex: 1;
}

.container-opdracht-3 {
    display: flex;
    flex-direction: column;
}

li#top-left {
    align-self: flex-start;
}

li#centered {
    align-self: center;
}

li#bottom-right {
    align-self: flex-end;
}

.container-opdracht-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    align-items: baseline;

}

.container-opdracht-5 > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.column-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    gap: 40px;
}


